---
title: About
---
<ul class="nav nav-pills">
  <li role="presentation" role="presentation"><a href="index.html">Home</a></li>
  <li role="presentation" class="active hidden-xs"><a href="about.html">About</a></li>
  <li class="hidden-xs" role="presentation"><a href="past.html">Past Talks</a></li>
  <li class="hidden-xs" role="presentation"><a href="involved.html">Get Involved</a></li>
  <li role="presentation" class="dropdown visible-xs">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      Pages <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li role="presentation" class="active"><a href="about.html">About</a></li>
      <li role="presentation"><a href="past.html">Past Talks</a></li>
      <li role="presentation"><a href="involved.html">Get Involved</a></li>
    </ul>
  </li>
</ul>
<div class="index-header">
  <h1>school of mind</h1>
</div>
<div class="index-description">
  <div class="row">
    <div class="col-sm-12">
       <h3>What we do: </h3><p>One in 10 children aged 5 to 16 years have a diagnosable mental health problem. By the time we get to adulthood, this number has increased to one in four in any one year*
       <p>Through education, we can aid early intervention and reduce the stigma associated with mental health conditions.
       <p>The School of Mind is a London-based charity that organises talks for schools on the topic of mental health. We have a bank of mental health professionals (psychologists, psychiatrists, mental health nurses etc.), who have been scouted for their exceptional and engaging presentation skills.
       <p>Want to get involved? We are always looking for speakers, schools and volunteers. Apply through our Get Involved page.

       <p>* These statistics are taken from the 2016 Mental Health Taskforce report, which you can read here.


    </div>
  </div>
</div>
<div class="index-description">
  <div class="row">
    <div style="margin-bottom: 65px">
      <div class="col-sm-6">
        <h3>Our team</h3>
      </div>
      <div class="col-sm-6">
        <a href="#"><h3>Get involved volunteer</h3></a>
      </div>
    </div>
    <div class="col-sm-2">
      <img src="images/Rosie.jpg" class="img-responsive" alt="" /><br />
      Roseanna Sharville <br/> Founder
    </div>
    <div class="col-sm-2">
      <img src="images/Abie.jpg" class="img-responsive" alt="" /><br />
      Abigail Alfrey <br/> Trustee
    </div>
    <div class="col-sm-2">
      <img src="images/Holly2.jpg" class="img-responsive" alt="" /><br />
      Holly Youlden <br/> Trustee
    </div>
    <div class="col-sm-2">
      <img src="images/Tom.jpg" class="img-responsive" alt="" /><br />
      Thomas Watts <br/> Trustee
    </div>
    <div class="col-sm-2">
      <img src="images/jack.jpg" class="img-responsive" alt="" /><br />
      Jack Sharville <br/> Trustee
    </div>
    <div class="col-sm-2">
      <img src="images/Tal.jpg" class="img-responsive" alt="" /><br />
      Natalia Sharville <br/> Trustee
    </div>
  </div>
</div>
<!-- <div class="index-description">
  <div class="row">
    <h1 style="text-align: center;">Past speakers</h1>
    <div class="row">
      <div class="col-sm-6">
        <img src="images/sample2.png" class="center-block" alt="" />
        <p class="about-person">
          Name of the person <br />
          The role that the person plays.
        </p>
      </div>
      <div class="col-sm-6">
        <img src="images/sample2.png" class="center-block" alt="" />
        <p class="about-person">
          Name of the person <br />
          The role that the person plays.
        </p>
      </div>
      <div class="col-sm-6">
        <img src="images/sample2.png" class="center-block" alt="" />
        <p class="about-person">
          Name of the person <br />
          The role that the person plays.
        </p>
      </div>
      <div class="col-sm-6">
        <img src="images/sample2.png" class="center-block" alt="" />
        <p class="about-person">
          Name of the person <br />
          The role that the person plays.
        </p>
      </div>
      <div class="col-sm-6">
        <img src="images/sample2.png" class="center-block" alt="" />
        <p class="about-person">
          Name of the person <br />
          The role that the person plays.
        </p>
      </div>
      <div class="col-sm-6">
        <img src="images/sample2.png" class="center-block" alt="" />
        <p class="about-person">
          Name of the person <br />
          The role that the person plays.
        </p>
      </div>
    </div>
  </div>
</div> -->
<div class="clearfix"></div>
<div class="row index-footer">
  <div class="col-sm-12">
    <h2>Quick donate box</h2>
    <div class="row">
      <div class="col-sm-3">
        <a href="#">Donate link</a>
      </div>
      <div class="col-sm-3">
        <a href="#">Where does the money go</a>
      </div>
    </div>
  </div>
</div>
