---
title: Home
---
<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="index.html">Home</a></li>
  <li class="hidden-xs" role="presentation"><a href="about.html">About</a></li>
  <li class="hidden-xs" role="presentation"><a href="past.html">Past Talks</a></li>
  <li class="hidden-xs" role="presentation"><a href="involved.html">Get Involved</a></li>
  <li role="presentation" class="dropdown visible-xs">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      Pages <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li role="presentation"><a href="about.html">About</a></li>
      <li role="presentation"><a href="past.html">Past Talks</a></li>
      <li role="presentation"><a href="involved.html">Get Involved</a></li>
    </ul>
  </li>
</ul>
<div class="index-header">
  <h1>school of mind</h1>
</div>
<div class="index-description">
  <div class="row">
    <div class="col-sm-8">
      a brief description of the site
    </div>
    <div class="col-sm-4">
      <a href="#">Read more</a>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 style="text-align: center;margin-top: 30px;">In our latest talk</h1>
    </div>
    <div class="col-sm-12">
      <h1 class="talk-header">Title of talk</h1>
      <div class="row">
        <div class="col-sm-4">
          <img src="images/sample.jpg" alt="" />
        </div>
        <div class="col-sm-8">
          <h2>By sample person</h2>
          <h2 class="talk-description">Sub title + description</h2>
        </div>
      </div>
      <div class="talk-video">
        <iframe width="100%" height="560" src="https://www.youtube.com/embed/R1vskiVDwl4" frameborder="0" allowfullscreen></iframe>
      </div>
      <p class="talk-blog">
        Blog post: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        <a href="#">More talks</a>
      </p>
    </div>
  </div>
</div>
<div class="row index-footer">
  <div class="col-sm-12">
    <h2>Quick donate box</h2>
    <div class="row">
      <div class="col-sm-3">
        <a href="#">Donate link</a>
      </div>
      <div class="col-sm-3">
        <a href="#">Where does the money go</a>
      </div>
    </div>
  </div>
</div>
