---
title: Get Involved
---
<ul class="nav nav-pills">
  <li role="presentation"><a href="index.html">Home</a></li>
  <li class="hidden-xs" role="presentation"><a href="about.html">About</a></li>
  <li class="hidden-xs" role="presentation"><a href="past.html">Past Talks</a></li>
  <li class="hidden-xs active" role="presentation"><a href="involved.html">Get Involved</a></li>
  <li role="presentation" class="dropdown visible-xs">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      Pages <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li role="presentation"><a href="about.html">About</a></li>
      <li role="presentation"><a href="past.html">Past Talks</a></li>
      <li role="presentation" class="active"><a href="involved.html">Get Involved</a></li>
    </ul>
  </li>
</ul>
<div class="index-header">
  <h1>school of mind</h1>
</div>
<div class="row sign-up-form">
  <div class="col-sm-6 sign-up-inputs">
    <div class="form-group">
      <div style="margin-left: -30px; margin-right: -30px">
        <div class="col-sm-6">
          <label for="sel1">I would like to get invloved as</label>
        </div>
        <div class="col-sm-6">
          <div get-involved class="form-group">
            <select class="form-control" ng-model="prop.value" ng-options="v for v in prop.values">
            </select>
          </div>
        </div>
      </div>
      <form action="https://getsimpleform.com/messages?form_api_token=71fc6bf5786d2d94b459d84d1bee35e6" method="post" ng-show="prop.value == 'Volunteer'">
        <div class="row">
          <div>
            <input type="text" name="Name" id="Name" placeholder="Name" class="form-control" autofocus>
          </div>
        </div>
        <div class="row">
          <div>
            <input type="text" name="Email address" id="email_address" placeholder="Email address" class="form-control" autofocus>
          </div>
        </div>
        <div class="row">
          <div>
            <textarea rows="4" cols="50" type="text" name="Tell us a little about yourself. For example, what got you interested in volunteering for School of Mind? Have you ever worked or volunteered in mental health before?" id="tell_about_yourself" placeholder="Tell us a little about yourself. For example, what got you interested in volunteering for School of Mind? Have you ever worked or volunteered in mental health before?" class="form-control" autofocus></textarea>
          </div>
        </div>
        <div class="row">
          <div>
            <textarea rows="4" cols="50" type="text" name="What is your availability like? This is just a rough guide for now, we’ll ask you more specifically at a later date." id="what_your_availability" placeholder="What is your availability like? This is just a rough guide for now, we’ll ask you more specifically at a later date." class="form-control" autofocus></textarea>
          </div>
        </div>
        <div class="row">
          <div>
            <textarea rows="4" cols="50" type="text" name="Do you have any questions or comments?" id="questions_comments" placeholder="Do you have any questions or comments?" class="form-control" autofocus></textarea>
          </div>
        </div>
        <div class="row" ng-show="prop.value == 'Volunteer'">
          <button type='submit' value='Test form' class="btn btn-primary">Send</button>
        </div>
      </form>
      <form action="https://getsimpleform.com/messages?form_api_token=71fc6bf5786d2d94b459d84d1bee35e6" method="post" ng-show="prop.value == 'Speaker'">
        <div class="row">
          <div>
            <input type="text" name="Name" id="Name" placeholder="Name" class="form-control" autofocus>
          </div>
        </div>
        <div class="row">
          <div>
            <input type="text" name="Email address" id="email_address" placeholder="Email address" class="form-control" autofocus>
          </div>
        </div>
        <div class="row">
          <div>
            <textarea rows="4" cols="50" type="text" name="Tell us a little about yourself and your experiences working in mental health..." id="tell_about_yourself" placeholder="Tell us a little about yourself and your experiences working in mental health" class="form-control" autofocus></textarea>
          </div>
        </div>
        <div class="row">
          <div>
            <textarea rows="4" cols="50" type="text" name="What do you think you’d focus on in your talk? This can change a bit at a later date." id="focus_of_talk" placeholder="What do you think you’d focus on in your talk? This can change a bit at a later date." class="form-control" autofocus></textarea>
          </div>
        </div>
        <div class="row">
          <div>
            <textarea rows="4" cols="50" type="text" name="Do you have any questions or comments?" id="questions_comments" placeholder="Do you have any questions or comments?" class="form-control" autofocus></textarea>
          </div>
        </div>
        <div class="row" ng-show="prop.value == 'Speaker'">
          <button type='submit' value='Test form' class="btn btn-primary">Send</button>
        </div>
      </form>
      <form action="https://getsimpleform.com/messages?form_api_token=71fc6bf5786d2d94b459d84d1bee35e6" method="post" ng-show="prop.value == 'School'">
        <div class="row">
          <div>
            <input type="text" name="Name of school" id="name_of_school" placeholder="Name of school" class="form-control" autofocus>
          </div>
        </div>
        <div class="row">
          <div>
            <input type="text" name="Location of school" id="location_of_school" placeholder="Location of school" class="form-control" autofocus>
          </div>
        </div>
        <div class="row">
          <div>
            <input type="text" name="Address Line 2" id="name_of_Lead_teacher" placeholder="Address Line 2" class="form-control" autofocus>
          </div>
        </div>
        <div class="row">
          <div>
            <input type="text" name="Position of Lead Teacher" id="position_of_lead_teacher" placeholder="Position of Lead Teacher" class="form-control" autofocus>
          </div>
        </div>
        <div class="row">
          <div>
            <input type="text" name="Contact Email" id="contact_email" placeholder="Contact Email" class="form-control" autofocus>
          </div>
        </div>
        <div class="row">
          <div>
            <input type="text" name="Target year group(s)" id="target_year_group" placeholder="Target year group(s)" class="form-control" autofocus>
          </div>
        </div>
        <div class="row">
          <div>
            <input type="text" name="Estimated size of group" id="size_estimate" placeholder="Estimated size of group" class="form-control" autofocus>
          </div>
        </div>
        <div class="row">
          <div>
            <input type="text" name="Possible dates" id="possible_dates" placeholder="Possible dates" class="form-control" autofocus>
          </div>
        </div>
        <div class="row">
          <div>
            <input type="text" name="Possible times" id="possible_times" placeholder="Possible times" class="form-control" autofocus>
          </div>
        </div>

        <div class="row">
          Do you have facilities to host a talk, including a means of projecting a presentation?
          <div>
            <input type="radio" name="facilities" value="yes"> Yes<br>
            <input type="radio" name="facilities" value="no"> No
          </div>
        </div>

        <div class="row">
          <div>
            <input type="text" name="" id="topics_to_request" placeholder="Do you have any particular topics you’d like to request? " class="form-control" autofocus>
          </div>
        </div>
        <div class="row">
          <div>
            <input type="text" name="" id="comments_questions" placeholder="Any other comments or questions?" class="form-control" autofocus>
          </div>
        </div>
        </div>
        <div class="row" ng-show="prop.value == 'School'">
          <button type='submit' value='Test form' class="btn btn-primary">Send</button>
        </div>
      </form>
  </div>
  <div class="col-sm-6">
    <div ng-show="prop.value == 'School'" style="margin-top: 20px;">
      <p>
        Do you work at a secondary school in London? Would you like your students to receive a free talk about mental health from the School of Mind?
      </p>
      <p>
        The School of Mind is an initiative that brings professionals from the world of psychology to speak to secondary school students about mental health. Each talk has a different theme and title, chosen by the speaker (but let us know if you have a particular issue you’d like us to include!)
      </p>
      <p>
        We are currently welcoming applications from new schools who would like to take part.
      </p>
      <p>
        In order to host our speakers, we kindly request that you…
      </p>
      <ul>
        <li>Have facilities to host a talk, including a projector</li>
        <li>Are flexible with your possible dates and times</li>
        <li>
          <div style="padding-left: 20px;">
          Our speakers all have full-time jobs and are restricted in the time that they can take off work
          </div>
        </li>
        <li>Let us film the talk</li>
        <li>
          <div style="padding-left: 20px;">
          We create a video from each talk that will be uploaded to our website. Although these videos focus on the speakers, we still ask you to obtain filming permission from the guardians of any student attending our talk
        </div>
        </li>
        <li>Don’t mind us mentioning your school and featuring the talk on our website.</li>
      </ul>
      <p>
        If you think your school and students would benefit from a visit from the School of Mind, send us a message and we’ll get back to you as soon as possible.
      </p>
    </div>
    <div ng-show="prop.value == 'Speaker'" style="margin-top: 20px;">
      <p>
        At the School of Mind, we arrange talks for secondary schools on mental health topics. Having a range of speakers is absolutely key to a successful operation and we are always welcoming applications. If you work in mental health, are confident speaking in public, and want to raise awareness of mental health issues, then we would love to hear from you.
      </p>
      <p>
        We’ve tried to answer a few FAQs here, but feel free to ask anything in the comments form below.
      </p>
      <p>
        <strong>What should I talk about?</strong>
      </p>
      <p>
        Speakers create their own talks, with support and guidance from the School of Mind team. This means that you can talk about your specialist subject and create a talk that suits you. Schools sometimes request a specific topic, for example eating disorders awareness. We try to match speakers to schools as much as possible, so we may ask you to include a certain focus in your talk.
      </p>
      <p>
        <strong>When do talks take place?</strong>
      </p>
      <p>
        Talks take place during, or just after, school hours. We try to fit the times around the speakers, since we know many of you have full-time jobs. If you can, try to make use of your allowed time off work for public duties and volunteering.
      </p>
      <p>
        <strong>Is it paid?</strong>
      </p>
      <p>
        School of Mind is a very new charity so we are unable to pay our speakers. We hope to be able to offer expenses shortly, but cannot at the moment.
      </p>
      <p>
        <strong>I’ve applied. What happens next?</strong>
      </p>
      <p>
        We’ll send you an information pack to your email. If we have not met you before, we will ask to meet with you for an informal interview.
      </p>
    </div>
    <div ng-show="prop.value == 'Volunteer'" style="margin-top: 20px;">
      <p>Our volunteers help the School of Mind run smoothly. As a School of Mind volunteer, you’ll attend the talks and write about them in a blog post for our website. We may also ask you to visit the schools, help set up the talks and the equipment, and film the talks. We’ll train you first though!
      <p>School of Mind volunteers should be 18 or over, with an interest in raising awareness of mental health. If we have never met you before, we’ll ask you to attend an informal interview. You’ll then shadow a member of the team for a few talks before being approved as a volunteer.
      <p>Please note, though, that talks take place during school hours. If you let us know your availability (even if it is just one afternoon a month!), we’ll try and find you talks that fit your schedule.
      <p>Once you’ve applied, we’ll send an information pack to your email within a few days.
    </div>
  </div>
</div>
<div class="row index-footer">
  <div class="col-sm-12">
    <h2>Quick donate box</h2>
    <div class="row">
      <div class="col-sm-3">
        <a href="#">Donate link</a>
      </div>
      <div class="col-sm-3">
        <a href="#">Where does the money go</a>
      </div>
    </div>
  </div>
</div>
